@import 'colors';

body {
	font-family: Verdana, Helvetica, sans-serif;
}

.main {
	margin-left: 24px;
}

article.project {
	img {
		float: left;
		margin-right: 15px;
		border: 3px solid lighten($primary-color, 25%);
	}

	table {
		clear: both;
		padding-top: 12px;
	}
}